.container {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding-top: 20px;
}

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media (width < 1024px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

.nav {
  position: relative;
}

.nav ul li:last-child {
  position: absolute;
  bottom: 0px;
}
