.headerContainer {
  display: flex;
  align-items: center;
}

@media (width < 1024px) {
  .headerContainer {
    display: block;
  }
}

.headerContainer h1 {
  font-size: 48px;
}

.headerContainer a {
  margin-right: 20px;
}

.headerContainer form {
  display: flex;
  width: 320px;
  min-height: 40px;
  margin-top: 10px;
}

.headerContainer input {
  border: 2px solid rgb(10, 79, 102);
  border-radius: 8px;
  z-index: 1;
  color: #99a3ae;
  padding-left: 8px;
}

.headerContainer button {
  background-color: rgb(10, 79, 102);
  border: none;
  border-radius: 8px;
  width: 65px;
  position: relative;
  right: 12px;
  padding-top: 5px;
  padding-left: 26px;
  transition: 0.1s ease;
}

.searchForm button:hover {
  background-color: rgb(10, 79, 102, 0.8);
}
